@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  position: relative;
  color: #464646;
}

.modal-login {
  position: absolute;
  width: 30%;
  border: 1px solid #464646;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.modal-header {
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.input-label {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.input-login {
  color: #464646;
  padding: 10px;
  width: 100%
}

.error-login {
  color: red;
  padding-top: 10px;
}

.button-input-login {
  width: 70%;
  border: 1px solid #464646;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: normal;
  font-size: 1.2rem;
}

.container {
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  margin: auto;
  padding-top: 30px;
}

.display-users {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #464646;
  border-left: 1px solid #464646;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-block {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-block:first-child {
  margin-top: 0;
}

.status-user {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: green;
}

.user-name {
  margin-left: 20px;
  font-size: 1.2rem;
  color: #8d8d8d;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 1px solid #464646;
  border-radius: 10px;
  padding: 20px;
}

.display-messages-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
}

.display-messages-block::-webkit-scrollbar {
  width: 20px;
  border: 1px solid #464646;
  border-radius: 5px;
}

.display-messages-block::-webkit-scrollbar-thumb {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #464646;
}

.message-block {
  max-width: 50%;
  margin-top: 20px;
}

.message-block:first-child {
  margin-top: 0;
}

[data-user="myself"] {
  align-self: flex-end;
  text-align: right;
  padding-right: 30px;
}

[data-user="myself"] > .user-info {
  color: red;
}

.user-info {
  margin-top: 20px;
  font-size: 0.8rem;
}

.message {
  margin-top: 10px;
  font-size: 1.1rem;
  color: black;
}

.form-input-messages {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.label-input-messages {
  display: flex;
  width: 100%;
}

.input-messages {
  width: 100%;
  border: 1px solid #464646;
  border-radius: 10px;
  outline:none;
  padding: 15px;
  font-size: 1.1rem;
}
